body {
    background-color: lightgray;
    color: black;
    direction: rtl;
    text-align: center;
}
h1 {
    background-color: darkblue;
    color: white;
    padding: 20px;
}
a {
    color: blue;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}
a:hover {
    color: red;
}
hr {
    width: 90%;
    margin: 20px auto;
}
ul {
    display: inline-block;
    text-align: right;
    list-style-type: square;
}
li {
    font-size: 18px;
    margin-bottom: 10px;
}
