body {
    background-color: lightgray;
    color: black;
    direction: rtl;
    text-align: center;
    
    font-family: Tahoma, Arial, sans-serif; /* يغير الخط لشكل عصري ومقروء */
    /* خلي باقي أكوادك القديمة زي ما هي هنا */


}
h1 {
    background-color: darkblue;
    color: white;
    padding: 20px;
}
a {
    color: blue;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}
a:hover {
    color: red;
}
hr {
    width: 90%;
    margin: 20px auto;
}
img {
    border: 2px solid black;
    margin: 20px auto;
}
